/* ============================================================================
   COMPONENTS -> MENU
   ========================================================================= */

/*!
 * Menu
 * @description Styles for the main menu
 */

.c-menu a {
  padding: .25rem 0;
  &[aria-current="page"] {
    border-bottom: 1px solid var(--color-blue-300);
    color: var(--color-blue-900);
  }
}
