<header id="header">
    <h1 class="text-2xl bg-gray-900 text-white antialiased p-6 mb-4">Hypermedia Driven Application starter kit</h1>
    <nav hx-boost="true" hx-target="#main" hx-select="#main" hx-swap="outerHTML show:#header:top" hx-indicator="body">
        <ul class="c-menu flex p-12">
            <li class="mr-6">
                <a class="text-blue-500 hover:text-blue-800" href="index">Page 1</a>
            </li>
            <li class="mr-6">
                <a class="text-blue-500 hover:text-blue-800" href="/page2">Page 2</a>
            </li>
            <li class="mr-6">
                <a class="text-blue-500 hover:text-blue-800" href="/page3">Page 3</a>
            </li>
        </ul>
    </nav>
</header>