/* ============================================================================
   UTILITIES -> RATIO
   ========================================================================= */

/*!
 * Ratio
 * @description Apply fixed aspect ratios to elements
 * @author Mark Croxton @croxton
 */

@utility ratio {
  & {
    position: relative;
  }
  &::after {
    clear: both;
    content: '';
    display: block;
  }
  &::before {
    content: '';
    display: var(--display, block);
    float: left;
    padding-top: calc(100% / (var(--ratio, 1)));
  }

  /* make object-fit: cover work with the padding hack */
  & > img.object-cover,
  & > picture.object-cover,
  & > video.object-cover {
    bottom: 0;
    height: 100%;
    left: 0;
    position: var(--position, absolute);
    right: 0;
    top: 0;
    width: 100%;
  }

}

@utility ratio-* {
  --ratio: --value(--ratio-*, ratio, [ratio]);
}

@utility ratio-none {
  --position:static;
  --display:none;
}
