/* ============================================================================
   UTILITIES -> VIEWPORT
   ========================================================================= */

/*!
 * Viewport
 * @description creates a container filling the height of the viewport, optionally accounting for a fixed header
 * Custom property --windowHeight is set in JS, preventing subsequent resize on vertical scroll on iOS (due to address bar hiding)
 * @author Mark Croxton @croxton
 */

  :root {
    --vh-span: 1;
    --vh-offset: 0px;
  }

  .viewport {
    --windowWidth: 100vw;
    min-height: var(--vh-min, calc(var(--windowHeight, 100vh) * var(--vh-span) - var(--vh-offset)));

    @variant md {
      min-height: var(--vh-min, calc(var(--windowHeight, 100vh) * var(--vh-span)));
    }
  }


@utility viewport-full {
  --vh-span: 1;
  --vh-min: unset;
}

@utility viewport-* {
  --vh-min: calc(var(--windowWidth, 100vw) * 1 / --value(--vh-min-*, ratio, [ratio]));
}

@utility viewport-none {
  --vh-span: 0;
  --vh-min: unset;
}

