/* ============================================================================
   THEME -> PROPERTIES
   ========================================================================= */

/**
 * Global custom CSS properties
*/

:root {
  --1svh: 1svh;
  --1dvh: 1dvh;
  --1lvh: 1lvh;
}