/* ============================================================================
   THEME -> TAILWIND
   ========================================================================= */

/**
 * Tailwind CSS theme variables
*/

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 92rem;
  --breakpoint-3xl: 100rem;

  --color-mint-500: oklch(0.72 0.11 178);
}